* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family: 'Baloo 2', cursive;
    

    
 
   

}


header {
  
    text-align: center; 
   
}




header h1 a {
    text-decoration: none;
    font-size:2rem;
    padding:0;
    margin:0;
    font-family: Arial;
  
  
}

header h1 a:visited {
    text-decoration: none;
    font-size:2rem;
    padding:0;
    margin:0;

  
}



.Foraneos {
    font-size:2rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial;
    
     
}

.com {
    font-size:2rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Arial;

}



.SForaneos {
    font-size:1.5rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Arial;
     
}

.Scom {
    font-size:1.5rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Arial;
}

.container {
    margin: 0 auto;
    margin-top:16px;
    width:75%;
    
    
   /* border: 3px solid palegreen;*/
    
}


.container-rest {
    margin: 0 auto;
    margin-top:70px;
    width:75%;
   
    /*border:solid blue 1px;*/
   
    
}

.main-text {
    text-align: center;
    color:white;
    font-size:70px;
    margin-top: 10px;
    background-color: #1E98FD;
    border-radius: 20px;
    padding-top:20px;
    padding-bottom:20px;
    line-height: 0.9;


}

.small-span {
    color:#FF00F7;
    font-size:30px;
}

.container-rest p {
    margin-top:3rem;
    text-align:left;
    font-size: 1.5rem;
    color:black;
    letter-spacing:1px;
    line-height: 1.8;
    text-align: justify;
  text-justify: inter-word;
  margin-bottom:50px;
    
}
footer {
   background:#1E98FD;
    color: white;
    padding: 2em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   
    
    
}

.container-cute {
    margin: 0 auto;
    margin-top:50px;
    width:75%;
   background-color: #1E98FD;
   margin-bottom:50px;
    /*border:solid blue 1px;*/
    
    border-radius: 20px;
   
    
}

.container-cute h4 {
    padding:40px;
    font-size:40px;
    color:white;
    text-align: center;
    
}

.descriptions {
display:flex;
flex-direction: row;

justify-content: space-around;
}

/*.descriptions-column p {
    color:white;
    
}*/
.descriptions-column  {
    width:33%;
padding-left: 20px;
padding-right:20px;
    text-align: center;
padding-bottom:50px;

}


.description-title {
    
    color:white;
    font-size:1.5rem;
    font-weight:bolder;
    line-height: 0.9;
    margin-bottom:10px;
}
.emoji {
    font-size: 2rem;
   
}
.description-text {
    font-size:1.25rem;
 
  color:white ;

}






footer a {
    text-decoration: none;
    color:white 
}


footer a:hover {
    font-weight: bold;
    color:black;
}




@media (max-width:500px) {

    .container {
        margin: 0 auto;
        margin-top:16px;
        width:90%;
        
        
       /* border: 3px solid palegreen;*/
        
    }
    
    
    .container-rest {
        margin: 0 auto;
        margin-top:16px;
        width:90%;
       
        /*border:solid blue 1px;*/
       
        
    }
    .main-text {
        
        text-align: center;
     
        color: white;
        font-size:2rem;
        margin-top: 60px;
        padding:20px;
        border-radius:10px;
    
    
    }
    
    .small-span {
        color:#FF00F7;
        font-size:1rem;
    }
    .container-rest p {
        margin-top:3rem;
        text-align:left;
        font-size: 1rem;
        color:black;
        letter-spacing:0px;
        line-height: 1.25;
        text-align: justify;
      text-justify: inter-word;
        
    }
    footer {
        
        width:100%;
        background:#1E98FD;
        color: white;
        padding: 3em 0;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

.descriptions {
    display:flex;
    flex-direction: column;
    
    justify-content: space-around;
    }
    .descriptions-column  {
        width: 100%;
        text-align: center;
        padding:20px;
        padding-bottom:50px;
       
    
    }
    .container-cute h4 {
        padding:40px;
        font-size:30px;
        color:white;
        text-align: center;
        
    }

.container-cute {
    margin: 0 auto;
    
    width:89%;
   background-color: #1E98FD;
  
    /*border:solid blue 1px;*/
    margin-bottom:100px;
    border-radius: 20px;
   
    
}
   
   

}
