* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family: Arial;

}


header {
  
    text-align: center; 
   
   
}




header h1 a {
    text-decoration: none;
    font-size:2rem;
    padding:0;
    margin:0;
  
  
}

header h1 a:visited {
    text-decoration: none;
    font-size:2rem;
    padding:0;
    margin:0;

  
}



.Foraneos {
    font-size:2rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}

.com {
    font-size:2rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



.SForaneos {
    font-size:1.5rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}

.Scom {
    font-size:1.5rem;
    background: -webkit-linear-gradient(295deg,#1E98FD, #FF00F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.container {
    margin: 0 auto;
    margin-top:16px;
    width:75%;
    
    
   /* border: 3px solid palegreen;*/
    
}


.container-rest {
    margin: 0 auto;
    margin-top:70px;
    width:75%;
   
    /*border:solid blue 1px;*/
   
    
}

.main-text {
    text-align: center;
 
    color:white;
    font-size:60px;
    margin-top: 10px;
    background-color: #1E98FD;
    border-radius: 20px;
    padding-top:20px;
    padding-bottom:20px;


}

.small-span {
    color:#FF00F7;
    font-size:30px;
}

.container-rest p {
    margin-top:3rem;
    text-align:left;
    font-size: 1.5rem;
    color:black;
    letter-spacing:1px;
    line-height: 1.8;
    text-align: justify;
  text-justify: inter-word;
  margin-bottom:50px;
    
}
footer {
   background:#1E98FD;
    color: white;
    padding: 3em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

footer a {
    text-decoration: none;
    color:white;
}


footer a:hover {
    font-weight: bold;
    color:black;
}




@media (max-width:500px) {

    .container {
        margin: 0 auto;
        margin-top:16px;
        width:90%;
        
        
       /* border: 3px solid palegreen;*/
        
    }
    
    
    .container-rest {
        margin: 0 auto;
        margin-top:16px;
        width:90%;
       
        /*border:solid blue 1px;*/
       
        
    }
    .main-text {
        
        text-align: center;
     
        color: white;
        font-size:2rem;
        margin-top: 60px;
        padding:20px;
        border-radius:10px;
    
    
    }
    
    .small-span {
        color:#FF00F7;
        font-size:1rem;
    }
    .container-rest p {
        margin-top:3rem;
        text-align:left;
        font-size: 1rem;
        color:black;
        letter-spacing:0px;
        line-height: 1.25;
        text-align: justify;
      text-justify: inter-word;
        
    }
footer {
    background:#1E98FD;
    color: white;
    padding: 3em 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
}
